<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Main Page</title>
</head>

<body>

	<h1>Inicio</h1>
	
	<form th:action="@{/ingresarCategoria}">
    	<input type="submit" value="Ingresar Categoria">
	</form>
	
	<br>
	
	<form th:action="@{/ingresarLibro}">
    	<input type="submit" value="Ingresar Libro">
	</form>
	
	<br>
	
	<form th:action="@{/mostrarLibros}">
    	<input type="submit" value="Ver Libros">
	</form>
	
</body>
</html>